:root {
  --title-color: rgb(255, 255, 255);
  --text-color: rgb(177, 177, 177);
  --bg-color: rgb(27, 29, 34);
  --accent-color: #8649cc;
}

.hero__btn {
  box-sizing: border-box;
  background: var(--bg-color);
  border: 3px solid var(--accent-color);
  color: var(--accent-color);
  transition: 0.5s;
}
.hero__btn:hover {
  background-color: var(--accent-color);
  color: var(--bg-color);
  border: 3px solid var(--accent-color);
}

body {
  font-family: Manrope;
  background-color: var(--bg-color);
  z-index: 1;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.blestochki1 {
  position: absolute;
  width: 1441px;
  height: 1441px;
  right: -600px;
  top: -800px;
  z-index: -1;
}

.blestochki2 {
  position: absolute;
  width: 1441px;
  height: 1441px;
  left: -890px;
  top: -900px;
  z-index: -1;
}

header {
  margin-top: 40px;
}

nav {
  display: flex;
  align-items: center;
  gap: 65px;
}
nav .logo {
  color: var(--title-color);
  font-size: 24px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
nav div {
  margin-left: auto;
}
nav div a {
  margin-right: 250px;
  float: left;
}
nav div a img {
  width: 30px;
  height: 30px;
  filter: brightness(3) invert(1);
  transform: scaleX(-1);
}
nav div p {
  float: right;
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
}
nav div p img {
  height: 16px;
  width: 16px;
  transition: 0.3s;
  filter: brightness(0) saturate(100%) invert(24%) sepia(76%) saturate(747%) hue-rotate(227deg) brightness(90%) contrast(101%);
}
nav div p img:hover {
  filter: brightness(0) saturate(100%) invert(24%) sepia(76%) saturate(747%) hue-rotate(227deg) brightness(130%) contrast(101%);
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  transition: 0.5s;
}
.nav__list a {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.nav__list a:hover {
  color: var(--title-color);
}

.hero {
  margin: 150px;
}

.hero__container {
  display: flex;
  gap: 300px;
  align-items: top;
}

.hero__title {
  color: var(--title-color);
  font-size: 45px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
}

.hero__text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  margin-top: 30px;
  width: 470px;
}

.hero__btn {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 23px 40px;
  margin-top: 45px;
  display: flex;
  align-items: center;
  position: relative;
}
.hero__btn:hover img {
  right: -35px;
  opacity: 1;
}
.hero__btn img {
  opacity: 0;
  filter: brightness(0) saturate(100%) invert(24%) sepia(76%) saturate(747%) hue-rotate(227deg) brightness(135%) contrast(101%);
  transition: 0.3s;
  height: 35px;
  width: 35px;
  position: absolute;
  right: 0;
}

.hero__img {
  width: 400px;
  height: 400px;
  rotate: 10deg;
}

.watch-box__first-box {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.watch-box__first-box p {
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
}
.watch-box__first-box ul {
  display: flex;
  gap: 5px;
  align-items: start;
}
.watch-box__first-box ul li {
  display: flex;
  align-items: start;
  transition: 0.3s;
  border-radius: 50%;
  border: 2px solid var(--bg-color);
}
.watch-box__first-box ul li:hover {
  border: 2px solid var(--accent-color);
}
.watch-box__first-box ul button {
  border: none;
  border-radius: 50%;
  padding: 7px;
  background: var(--accent-color);
  margin: 5px;
  z-index: 1;
}

.watchbox__second-box {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.watchbox__second-box a {
  color: var(--title-color);
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  z-index: 1;
}

.site__map {
  display: flex;
  align-items: center;
  gap: 10px;
}
.site__map img {
  height: 16px;
  width: 16px;
  filter: brightness(0) saturate(100%) invert(24%) sepia(76%) saturate(747%) hue-rotate(227deg) brightness(135%) contrast(101%);
}
.site__map p {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */