:root {
  --title-color: rgb(255, 255, 255);
  --text-color: rgb(177, 177, 177);
  --bg-color: rgb(27, 29, 34);
  --accent-color: #8649cc;
}

.trending-count__btn, .features__list li button, .featured-product__box button, .hero__btn {
  box-sizing: border-box;
  background: var(--bg-color);
  border: 3px solid var(--accent-color);
  color: var(--accent-color);
  transition: 0.5s;
}
.trending-count__btn:hover, .features__list li button:hover, .featured-product__box button:hover, .hero__btn:hover {
  background-color: var(--accent-color);
  color: var(--bg-color);
  border: 3px solid var(--accent-color);
}

body {
  font-family: Manrope;
  background-color: var(--bg-color);
  z-index: 1;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.blestochki1 {
  position: absolute;
  width: 1441px;
  height: 1441px;
  right: -880px;
  top: -900px;
  z-index: -1;
  animation: scale-animation 5s infinite ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@keyframes scale-animation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.blestochki2 {
  position: absolute;
  width: 1441px;
  height: 1441px;
  left: -890px;
  top: -900px;
  z-index: -1;
  animation: scale-animation 5s infinite ease-in-out;
  animation-delay: 1s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

header {
  margin-top: 40px;
}

nav {
  display: flex;
  align-items: center;
  gap: 65px;
}
nav .logo {
  color: var(--title-color);
  font-size: 24px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
nav div {
  margin-left: auto;
}
nav div a {
  margin-right: 250px;
  float: left;
}
nav div a img {
  width: 30px;
  height: 30px;
  filter: brightness(3) invert(1);
  transform: scaleX(-1);
}
nav div p {
  float: right;
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
}
nav div p img {
  height: 16px;
  width: 16px;
  transition: 0.3s;
  filter: brightness(0) saturate(100%) invert(24%) sepia(76%) saturate(747%) hue-rotate(227deg) brightness(90%) contrast(101%);
}
nav div p img:hover {
  filter: brightness(0) saturate(100%) invert(24%) sepia(76%) saturate(747%) hue-rotate(227deg) brightness(130%) contrast(101%);
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  transition: 0.5s;
}
.nav__list a {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.nav__list a:hover {
  color: var(--title-color);
}

.hero {
  margin: 150px;
}

.hero__container {
  display: flex;
  gap: 300px;
  align-items: top;
}

.hero__title {
  color: var(--title-color);
  font-size: 45px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
}

.hero__text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  margin-top: 30px;
  width: 470px;
}

.hero__btn {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 23px 40px;
  margin-top: 45px;
  display: flex;
  align-items: center;
  position: relative;
}
.hero__btn:hover img {
  right: -35px;
  opacity: 1;
}
.hero__btn img {
  opacity: 0;
  filter: brightness(0) saturate(100%) invert(24%) sepia(76%) saturate(747%) hue-rotate(227deg) brightness(135%) contrast(101%);
  transition: 0.3s;
  height: 35px;
  width: 35px;
  position: absolute;
  right: 0;
}

.hero__img {
  width: 400px;
  height: 400px;
  rotate: 10deg;
}

.watch-box__first-box {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.watch-box__first-box p {
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
}
.watch-box__first-box ul {
  display: flex;
  gap: 5px;
  align-items: start;
}
.watch-box__first-box ul li {
  display: flex;
  align-items: start;
  transition: 0.3s;
  border-radius: 50%;
  border: 2px solid var(--bg-color);
}
.watch-box__first-box ul li:hover {
  border: 2px solid var(--accent-color);
}
.watch-box__first-box ul button {
  border: none;
  border-radius: 50%;
  padding: 7px;
  background: var(--accent-color);
  margin: 5px;
  z-index: 1;
}

.watchbox__second-box {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.watchbox__second-box a {
  color: var(--title-color);
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  z-index: 1;
  position: relative;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.watchbox__second-box a:hover img {
  right: -80px;
  opacity: 1;
}
.watchbox__second-box a img {
  opacity: 0;
  filter: brightness(0) saturate(100%) invert(100%);
  transition: 0.3s;
  height: 35px;
  width: 35px;
  position: absolute;
  top: -3px;
  right: 0;
}

.featured-product__container {
  margin: 150px auto;
  display: flex;
  justify-content: space-between;
}
.featured-product__container button {
  display: flex;
  position: relative;
  align-items: center;
}
.featured-product__container button:hover img {
  right: -35px;
  opacity: 1;
}
.featured-product__container button img {
  opacity: 0;
  filter: brightness(0) saturate(100%) invert(24%) sepia(76%) saturate(747%) hue-rotate(227deg) brightness(135%) contrast(101%);
  transition: 0.3s;
  height: 35px;
  width: 35px;
  position: absolute;
  right: 0;
}

.featured-product__img-list {
  display: flex;
  gap: 50px;
}
.featured-product__img-list li:nth-child(1) {
  width: 190px;
  height: 215px;
  margin-right: 60px;
}
.featured-product__img-list li:nth-child(1) img {
  width: 100%;
  height: 100%;
}
.featured-product__img-list li:nth-child(2) {
  width: 220px;
  height: 215px;
  margin-right: 30px;
}
.featured-product__img-list li:nth-child(2) img {
  width: 100%;
  height: 100%;
}
.featured-product__img-list li:nth-child(3) {
  width: 235px;
  height: 215px;
}
.featured-product__img-list li:nth-child(3) img {
  width: 100%;
  height: 100%;
  rotate: -4deg;
}

.featured-product__box h3 {
  color: var(--title-color);
  font-size: 22px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
}
.featured-product__box p {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
  margin-top: 10px;
}
.featured-product__box button {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 12%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 22px 52px;
}

.features__title {
  color: var(--title-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.features__subtitle {
  margin-top: 20px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
}

.features__list {
  display: flex;
  gap: 30px;
  margin-top: 35px;
}
.features__list li {
  background: rgb(33, 36, 43);
  display: flex;
  flex-direction: column;
}
.features__list li img {
  width: 100%;
  display: block;
  order: -1;
}
.features__list li a p {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
  margin-top: 23px;
  padding: 0 25px;
}
.features__list li a:hover img {
  right: -20px;
  opacity: 1;
}
.features__list li a img {
  opacity: 0;
  filter: brightness(0) saturate(100%) invert(100%);
  transition: 0.3s;
  height: 35px;
  width: 35px;
  position: absolute;
  top: -3px;
  right: 0;
}
.features__list li p {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  margin-top: 12px;
  padding: 0 25px;
}
.features__list li button {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 0;
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 23px 80px;
  align-self: center;
  margin-top: 18px;
  margin-bottom: 25px;
}

.trending-count {
  margin-top: 100px;
}

.trending-count__container {
  display: flex;
  flex-direction: row;
  gap: 45px;
}

.trending-count__box {
  display: flex;
  flex-direction: column;
}

.trending-count__title {
  color: var(--title-color);
  font-size: 28px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
  margin-top: 50px;
}

.trending-count__text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  margin-top: 15px;
}

.trending-count__list {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.trending-count__list p {
  color: var(--accent-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
  margin-top: -15px;
}
.trending-count__list p:first-child {
  color: var(--accent-color);
  font-size: 35px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
}

.trending-count__btn {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 0;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 30px;
  width: 200px;
  height: 70px;
}
.trending-count__btn:hover img {
  right: -20px;
  opacity: 1;
}
.trending-count__btn img {
  opacity: 0;
  filter: brightness(0) saturate(100%) invert(100%);
  transition: 0.3s;
  height: 35px;
  width: 35px;
  position: absolute;
  top: -3px;
  right: 0;
}

footer {
  position: static;
  bottom: 0px;
  margin-top: 100px;
}
footer .container {
  display: flex;
  gap: 70px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  width: 310px;
  justify-content: space-between;
  gap: 25px;
}
.footer__container a {
  color: var(--title-color);
  font-size: 24px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 3px;
  text-align: start;
  text-decoration: none;
  text-transform: uppercase;
}
.footer__container p {
  float: right;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: start;
  text-decoration: none;
}
.footer__container span {
  color: var(--title-color);
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: start;
  text-decoration: none;
  text-transform: uppercase;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__list p {
  color: var(--accent-color);
  font-size: 21px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: start;
  text-decoration: none;
}
.footer__list a {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: start;
  text-decoration: none;
}
.footer__list li:nth-child(2) a {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: start;
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer__nav p {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: start;
  text-decoration: none;
}
.footer__nav li:first-child p {
  color: var(--accent-color);
  font-size: 21px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: start;
  text-decoration: none;
}
.footer__nav a {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: start;
  text-decoration: none;
}

.logo__container {
  display: flex;
  flex-direction: row;
  gap: 9px;
}
.logo__container div {
  width: 20px;
  height: 20px;
}
.logo__container img {
  width: 20px;
  height: 20px;
  filter: brightness(0) saturate(100%) invert(24%) sepia(76%) saturate(747%) hue-rotate(227deg) brightness(130%) contrast(101%);
}

.footer__form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer__form p {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: start;
  text-decoration: none;
}
.footer__form li:first-child p {
  color: var(--accent-color);
  font-size: 21px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: start;
  text-decoration: none;
}

.subscribe-wrapper {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  background-color: rgb(33, 36, 43);
}

.subscribe-input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  padding: 15px;
  color: #ffffff;
  font-size: 16px;
  outline: none;
}

.subscribe-input::-moz-placeholder {
  color: #a0a0a0;
  opacity: 1;
}

.subscribe-input::placeholder {
  color: #a0a0a0;
  opacity: 1;
}

.subscribe-button {
  border: none;
  background-color: var(--accent-color);
  color: #f0f0f0;
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.subscribe-button:hover {
  background: rgb(160, 59, 211);
}

.subscribe-button svg {
  width: 24px;
  height: 24px;
}

.site__map {
  display: flex;
  align-items: center;
  gap: 10px;
}
.site__map img {
  height: 16px;
  width: 16px;
  filter: brightness(0) saturate(100%) invert(24%) sepia(76%) saturate(747%) hue-rotate(227deg) brightness(135%) contrast(101%);
}
.site__map p {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */