%title {
  color: var(--title-color);
  font-weight: 700;
  letter-spacing: 0%;
  text-transform: capitalize;
}
%text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
%btn {
  box-sizing: border-box;
  background: var(--bg-color);
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 12%;
  text-align: center;
  text-transform: uppercase;
  border: 3px solid var(--accent-color);
  color: var(--accent-color);
}
