.blestochki1 {
  position: absolute;
  width: 1441px;
  height: 1441px;
  right: -880px;
  top: -900px;
  z-index: -1;
  animation: scale-animation 5s infinite ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@keyframes scale-animation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.blestochki2 {
  position: absolute;
  width: 1441px;
  height: 1441px;
  left: -890px;
  top: -900px;
  z-index: -1;
  animation: scale-animation 5s infinite ease-in-out;
  animation-delay: 1s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header {
  margin-top: 40px;
}
nav {
  display: flex;
  align-items: center;
  gap: 65px;
  .logo {
    @include fonts(var(--title-color), 24px, 800, 100%, 3px, center);
    text-transform: uppercase;
  }
  div {
    margin-left: auto;
    a {
      margin-right: 250px;
      float: left;
      img {
        width: 30px;
        height: 30px;
        filter: brightness(3) invert(1);
        transform: scaleX(-1);
      }
    }
    p {
      float: right;
      @include fonts(var(--title-color), 18px, 700, 28px, 0, center);
      text-transform: uppercase;
      margin-left: 30px;
      display: flex;
      align-items: center;
      gap: 5px;
      img {
        height: 16px;
        width: 16px;
        transition: 0.3s;
        filter: brightness(0) saturate(100%) invert(24%) sepia(76%)
          saturate(747%) hue-rotate(227deg) brightness(90%) contrast(101%);
        &:hover {
          filter: brightness(0) saturate(100%) invert(24%) sepia(76%)
            saturate(747%) hue-rotate(227deg) brightness(130%) contrast(101%);
        }
      }
    }
  }
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  transition: 0.5s;
  a {
    @include fonts(var(--text-color), 18px, 500, 100%, 3px, center);
    text-transform: uppercase;
    &:hover {
      color: var(--title-color);
    }
  }
}
//@include fonts($color, $font-size, $font-weight, $line-height, $LS, $TA)
// ------------------------------------------------------------HERO SECTION------------------------------------------------------------
.hero {
  margin: 150px;
  //waiting to be fixed
}
.hero__container {
  display: flex;
  gap: 300px;
  align-items: top;
}
.hero__title {
  @include fonts(var(--title-color), 45px, 700, 70px, 0, left);
  text-transform: capitalize;
}
.hero__text {
  @include fonts(var(--text-color), 16px, 400, 28px, 0, left);
  margin-top: 30px;
  width: 470px;
}
.hero__btn {
  @include fonts(var(--accent-color), 18px, 800, 25px, 3px, center);
  @extend %btn;
  text-transform: uppercase;
  padding: 23px 40px;
  margin-top: 45px;
  display: flex;
  align-items: center;
  position: relative;
  &:hover img {
    right: -35px;
    opacity: 1;
  }
  img {
    opacity: 0;
    filter: brightness(0) saturate(100%) invert(24%) sepia(76%) saturate(747%)
      hue-rotate(227deg) brightness(135%) contrast(101%);
    transition: 0.3s;
    height: 35px;
    width: 35px;
    position: absolute;
    right: 0;
  }
}
.hero__img {
  width: 400px;
  height: 400px;
  rotate: 10deg;
}
.watch-box__first-box {
  display: flex;
  justify-content: space-between;
  align-items: start;
  p {
    @include fonts(var(--title-color), 18px, 700, 28px, 0, left);
  }
  ul {
    display: flex;
    gap: 5px;
    align-items: start;
    li {
      display: flex;
      align-items: start;
      transition: 0.3s;
      border-radius: 50%;
      border: 2px solid var(--bg-color);
      &:hover {
        border: 2px solid var(--accent-color);
      }
    }
    button {
      border: none;
      border-radius: 50%;
      padding: 7px;
      background: var(--accent-color);
      margin: 5px;
      z-index: 1;
    }
  }
}
.watchbox__second-box {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  a {
    @include fonts(var(--title-color), 23px, 700, 28px, 0, left);
    z-index: 1;
    position: relative;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    &:hover img {
      right: -80px;
      opacity: 1;
    }
    img {
      opacity: 0;
      filter: brightness(0) saturate(100%) invert(100%);
      transition: 0.3s;
      height: 35px;
      width: 35px;
      position: absolute;
      top: -3px;
      right: 0;
    }
  }
}
//@include fonts($color, $font-size, $font-weight, $line-height, $LS, $TA)
// -----------------------------------------------------FEATURED PRODUCT SECTION-----------------------------------------------------
.featured-product__container {
  margin: 150px auto;
  //waiting to be fixed
  display: flex;
  justify-content: space-between;
  button {
    display: flex;
    position: relative;
    align-items: center;
    &:hover img {
      right: -35px;
      opacity: 1;
    }
    img {
      opacity: 0;
      filter: brightness(0) saturate(100%) invert(24%) sepia(76%) saturate(747%)
        hue-rotate(227deg) brightness(135%) contrast(101%);
      transition: 0.3s;
      height: 35px;
      width: 35px;
      position: absolute;
      right: 0;
    }
  }
}
.featured-product__img-list {
  display: flex;
  gap: 50px;
  li:nth-child(1) {
    width: 190px;
    height: 215px;
    margin-right: 60px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  li:nth-child(2) {
    width: 220px;
    height: 215px;
    margin-right: 30px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  li:nth-child(3) {
    width: 235px;
    height: 215px;
    img {
      width: 100%;
      height: 100%;
      rotate: -4deg;
    }
  }
}

.featured-product__box {
  h3 {
    @include fonts(var(--title-color), 22px, 800, 36px, 0, left);
    text-transform: capitalize;
  }
  p {
    @include fonts(var(--text-color), 16px, 400, 28px, 0, left);
    text-transform: capitalize;
    margin-top: 10px;
  }
  button {
    @extend %btn;
    @include fonts(var(--accent-color), 18px, 800, 25px, 12%, center);
    text-transform: uppercase;
    margin-top: 20px;
    padding: 22px 52px;
  }
}
//@include fonts($color, $font-size, $font-weight, $line-height, $LS, $TA)
// -----------------------------------------------------FEATURES SECTION----------------------------------------------------------------
.features__title {
  @include fonts(var(--title-color), 20px, 600, 28px, 3px, center);
  text-transform: uppercase;
}
.features__subtitle {
  margin-top: 20px;
  @include fonts(var(--text-color), 16px, 400, 28px, 0, center);
}
.features__list {
  display: flex;
  gap: 30px;
  margin-top: 35px;
  li {
    background: rgba(33, 36, 43, 1);
    display: flex;
    flex-direction: column;
    img {
      width: 100%;
      display: block;
      order: -1;
    }
    a {
      p {
        @include fonts(var(--title-color), 16px, 600, 28px, 0, left);
        text-transform: capitalize;
        margin-top: 23px;
        padding: 0 25px;
      }
      &:hover img {
        right: -20px;
        opacity: 1;
      }
      img {
        opacity: 0;
        filter: brightness(0) saturate(100%) invert(100%);
        transition: 0.3s;
        height: 35px;
        width: 35px;
        position: absolute;
        top: -3px;
        right: 0;
      }
    }
    p {
      @include fonts(var(--text-color), 16px, 400, 28px, 0, left);
      margin-top: 12px;
      padding: 0 25px;
    }
    button {
      @extend %btn;
      @include fonts(var(--accent-color), 18px, 800, 0, 3px, center);
      text-transform: uppercase;
      padding: 23px 80px;
      align-self: center;
      margin-top: 18px;
      margin-bottom: 25px;
    }
  }
}
//@include fonts($color, $font-size, $font-weight, $line-height, $LS, $TA)
//----------------------------------------------------TRENDING COUNT--------------------------------------------------------------
.trending-count {
  margin-top: 100px;
}
.trending-count__container {
  display: flex;
  flex-direction: row;
  gap: 45px;
}
.trending-count__box {
  display: flex;
  flex-direction: column;
}
.trending-count__title {
  @include fonts(var(--title-color), 28px, 600, 48px, 0, left);
  text-transform: capitalize;
  margin-top: 50px;
}
.trending-count__text {
  @include fonts(var(--text-color), 16px, 400, 28px, 0, left);
  margin-top: 15px;
}
.trending-count__list {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  p {
    @include fonts(var(--accent-color), 16px, 600, 48px, 0, left);
    text-transform: capitalize;
    margin-top: -15px;
  }
  p:first-child {
    @include fonts(var(--accent-color), 35px, 800, 48px, 0, left);
  }
}
.trending-count__btn {
  @extend %btn;
  @include fonts(var(--accent-color), 18px, 800, 0, 0, center);
  text-transform: uppercase;
  margin-top: 30px;
  width: 200px;
  height: 70px;
  &:hover img {
    right: -20px;
    opacity: 1;
  }
  img {
    opacity: 0;
    filter: brightness(0) saturate(100%) invert(100%);
    transition: 0.3s;
    height: 35px;
    width: 35px;
    position: absolute;
    top: -3px;
    right: 0;
  }
}
//@include fonts($color, $font-size, $font-weight, $line-height, $LS, $TA)
//----------------------------------------------------FEATURED CATEGORIES---------------------------------------------------------
.featured-categories {
  margin-top: 100px;
}
.featured-categories__title {
  @include fonts(var(--title-color), 20px, 600, 28px, 3px, center);
  text-transform: uppercase;
}
.featured-categories__subtitle {
  @include fonts(var(--text-color), 16px, 400, 28px, 0, center);
  text-transform: capitalize;
  margin-top: 20px;
}
.featured-categories__form {
  align-items: center;
  margin-top: 50px;
  ul {
    display: flex;
    flex-direction: row;
    gap: 35px;
    li {
      input[type="radio"] {
        display: none;
      }

      label {
        width: 200px;
        height: 70px;
        @include fonts(var(--accent-color), 18px, 800, 0, 12%, center);
        box-sizing: border-box;
        background: var(--bg-color);
        border: 3px solid var(--accent-color);
        padding: 10px 20px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      input[type="radio"]:checked + label {
        background-color: var(--accent-color);
        color: var(--bg-color);
        border: 3px solid var(--accent-color);
      }
    }
  }
}
.featured-categories__box {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  gap: 30px 20px;
  flex-wrap: wrap;
  align-items: center;
}
.featured-categories__cell {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 370px;
  height: 512px;
  background-color: rgba(33, 36, 43, 1);
}
.cell__img-box {
  position: relative;
  &::after {
    display: block;
    position: absolute;
    content: "";
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
#sky-qweller-4000 .cell__img-box::after {
  background-image: url("/images/sky-qweller-4000.png");
  width: 161px;
  height: 216px;
}
#day-date-820 .cell__img-box::after {
  background-image: url("/images/day-date-820.png");
  width: 185px;
  height: 236px;
}
#date-just-6500 .cell__img-box::after {
  background-image: url("/images/date-just-6500.png");
  width: 195.2px;
  height: 254.61px;
  transform: translate(-63%, -50%) rotate(-4deg) scale(1.2);
}
#sports-master-400 .cell__img-box::after {
  background-image: url("/images/sport-master-400.png");
  width: 161px;
  height: 210px;
  transform: translate(-50%, -50%);
}
#pearl-master-600 .cell__img-box::after {
  background-image: url("/images/pearl-master-600.png");
  width: 161px;
  height: 210px;
  transform: translate(-50%, -50%);
}
#just-sports-200 .cell__img-box::after {
  background-image: url("/images/just-sports-200.png");
  width: 161px;
  height: 210px;
  transform: translate(-50%, -50%) scale(1.3);
}
.cell__name-price {
  display: flex;
  justify-content: space-between;

  p {
    @include fonts(var(--title-color), 16px, 600, 28px, 0, left);
    text-transform: capitalize;
  }
}
.cell__text-box {
  padding: 0 25px;
}
.cell__text {
  @include fonts(var(--text-color), 16px, 600, 28px, 0, left);
  margin-top: 12px;
}
.cell__btns {
  margin-top: 35px;
  display: flex;
  gap: 15px;
  button:first-child {
    background-color: var(--accent-color);
    color: var(--bg-color);
  }
  button {
    @extend %btn;
    @include fonts(var(--accent-color), 16px, 800, 0, 12%, center);
    // padding: 16px 30px;
    width: 154px;
    height: 54px;
    text-transform: uppercase;
  }
}
.featured-categories__main-btn {
  @extend %btn;
  @include fonts(var(--accent-color), 18px, 600, 0, 2px, center);
  width: 172px;
  height: 70px;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  &:hover img {
    right: -20px;
    opacity: 1;
  }
  img {
    opacity: 0;
    filter: brightness(0) saturate(100%) invert(100%);
    transition: 0.3s;
    height: 35px;
    width: 35px;
    position: absolute;
    top: -3px;
    right: 0;
  }
}
//@include fonts($color, $font-size, $font-weight, $line-height, $LS, $TA)
//----------------------------------------------------FOOTER----------------------------------------------------------------------
footer {
  position: static;
  bottom: 0px;
  margin-top: 100px;
  .container {
    display: flex;
    gap: 70px;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  width: 310px;
  justify-content: space-between;
  gap: 25px;

  a {
    @include fonts(var(--title-color), 24px, 800, 100%, 3px, start);
    text-transform: uppercase;
  }

  p {
    float: right;
    @include fonts(var(--text-color), 14px, 700, 28px, 0px, start);
  }

  span {
    @include fonts(var(--title-color), 12px, 700, 28px, 0px, start);
    text-transform: uppercase;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  p {
    @include fonts(var(--accent-color), 21px, 800, 100%, 0px, start);
  }

  a {
    @include fonts(var(--text-color), 16px, 500, 100%, 0px, start);
  }

  li:nth-child(2) a {
    @include fonts(var(--title-color), 16px, 800, 100%, 0px, start);
  }
}

.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 25px;

  p {
    @include fonts(var(--title-color), 16px, 800, 100%, 0px, start);
  }

  li:first-child p {
    @include fonts(var(--accent-color), 21px, 800, 100%, 0px, start);
  }

  a {
    @include fonts(var(--text-color), 16px, 500, 100%, 0px, start);
  }
}

.logo__container {
  display: flex;
  flex-direction: row;
  gap: 9px;

  div {
    width: 20px;
    height: 20px;
  }
  img {
    width: 20px;
    height: 20px;
    filter: brightness(0) saturate(100%) invert(24%) sepia(76%) saturate(747%)
      hue-rotate(227deg) brightness(130%) contrast(101%);
  }
}

.footer__form {
  display: flex;
  flex-direction: column;
  gap: 25px;

  p {
    @include fonts(var(--text-color), 16px, 400, 100%, 0px, start);
  }

  li:first-child p {
    @include fonts(var(--accent-color), 21px, 800, 100%, 0px, start);
  }
}

.subscribe-wrapper {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  background-color: rgba(33, 36, 43, 1);
}

.subscribe-input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  padding: 15px;
  color: #ffffff;
  font-size: 16px;
  outline: none;
}
.subscribe-input::placeholder {
  color: #a0a0a0;
  opacity: 1;
}

.subscribe-button {
  border: none;
  background-color: var(--accent-color);
  color: #f0f0f0;
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  &:hover {
    background: rgb(160, 59, 211);
  }
}

.subscribe-button svg {
  width: 24px;
  height: 24px;
}
